#containerZero {
  padding: 75px;
}

#containerOne {
  padding: 50px;
}

#containerTwo {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
}

#containerThree {
  margin-bottom: 0;
  padding: 40px;
}

#addPlayerBtn {
  margin-top: 13px;
  margin-bottom: 5px;
}